<?xml version="1.0"?>
<launch>

	<arg name="rviz"                   	default="false" />
	<arg name="rviz_cfg"          		default="$(find aruco_tf)/launch/aruco.rviz" />
	<arg name="use_urdf" 			default="false"/>

	<!-- For TFs use one time URDF or continuos TFs topics -->
	<group if="$(arg use_urdf)">
	 <param name="robot_description"  textfile="$(find structure_core)/launch/Structure.urdf" />
	<node name="robot_state_publisher" pkg="robot_state_publisher"
	    type="robot_state_publisher" />   
	</group>

	<group unless="$(arg use_urdf)">
	    <!--                                                       name            x      y    z q q q                        -->
		<node pkg ="tf" type="static_transform_publisher" name="aruco_102" args="-1.19  -1.22  0 0 0 0 room_link aruco_102 50" />
		<node pkg ="tf" type="static_transform_publisher" name="aruco_103" args="-2.65  -2.32  0 0 0 0 room_link aruco_103 50" />
		<node pkg ="tf" type="static_transform_publisher" name="aruco_104" args="-1.19  -2.32  0 0 0 0 room_link aruco_104 50" />
		<node pkg ="tf" type="static_transform_publisher" name="cam_weighted" args="-1.0565963912600846  -5.456418037811381  2.09842110295872 -0.8486530613216158 -0.031595102533741294 -0.05321395620619408 0.5253170527121858 room_link cam_weighted 50" />
		<!--                                                        name                 x                     y                   z                   qx                  qy                  qz                  qw                                  -->
	</group> 

<!-- 
	  frame_id: "room_link"
child_frame_id: "cam_weighted"
transform: 
  translation: 
    x: -1.0565963912600846
    y: -5.456418037811381
    z: 2.09842110295872
  rotation: 
    x: -0.8486530613216158
    y: -0.031595102533741294
    z: -0.05321395620619408
    w: 0.5253170527121858

 -->

	<!-- Visualization RVIZ -->
	<node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)"/>

	</launch>
