<?xml version="1.0"?>
<launch>

	 <param name="robot_description"  textfile="$(find aruco_tf)/launch/aruco.urdf" />
	 <!-- <param name="robot_description"  textfile="/home/makeruser/aruco_ws/src/aruco_tf/src/launch/aruco.urdf" /> -->
	<node name="robot_state_publisher" pkg="robot_state_publisher"
	    type="robot_state_publisher" />   

</launch>
